<div class='content'></div>
<div class="container">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6 contactBox well">
      <label for="firstName"> First Name<input type="text" placeholder="First Name"></label><br>
      <label for="lastName"> Last Name <input type="text" placeholder="Last Name"></label><br>
      <label for="email"> Email <input type="text" placeholder="Email"></label><br>
      <label for="message">Comment <input class="largeInput" type="text" placeholder="Message"></label><br>
      <button class="btn btn-lg pull-right">Send</button>
      <div style="height: 100px"></div>
    </div>
  </div>
</div>